body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    background-color: #34cdeb90;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form-container {
    background-color: white;
    width: 22vw;
    height: 27em;
    padding: 2em;
    border-radius: 8px;
}

#form-title {
    text-align: center;
    margin: 0 0 1em 0;
    color: rgb(37, 37, 37)
}

#form-calculate-salary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-external-container {
    display: flex;
    flex-direction: column;
    margin: 1em 0
}

.input-label {
    font-size: 0.85em;
    color: rgb(37, 37, 37);
    font-weight: 600;
}

.input-container {
    background-color: white;
    padding: 0.8em 1.3em;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-size: 0.9em;
}

#submit-button {
    background-color: #3471eb;
    color: white;
    border: none;
    padding: 0.7em 1.3em;
    font-weight: 800;
    font-size: 1.1em;
    border-radius: 4px;
    margin-top: 1.3em;
    cursor: pointer;
    transition: width 2s, height 4s;
    transition-timing-function: ease-in-out;
}

#submit-button:hover {
    opacity: 0.95;
}

#submit-button:active {
    opacity: 0.7;
}

#error-container {
    color: #eb3434;
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
    margin-top: -2em
}

#result-container {
    color: rgb(37, 37, 37);
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
    margin-top: 2em
}